/.vs
/Airiti_msit_129/obj
/Airiti_msit_129/bin
/DelegateEvent_Leo_WeiChung/bin
/DelegateEvent_Leo_WeiChung/obj
/DelegateEvent_Leo_WeiChung/App.Debug.config
/DelegateEvent_Leo_WeiChung/App.Release.config
