@{
    ViewData["Title"] = "List";
}

<h1>Account</h1>
<p>物件類型</p>
<p>結構描述名稱</p>
<p>物件創建日期</p>
<p>物件修改日期</p>


<table class="table">
    <thead>
        <tr>
            <th>
                欄位名稱
            </th>
            <th>
                欄位說明
            </th>
            <th>
                資料型態
            </th>
            <th>
                主鍵
            </th>
            <th>
                不為Null
            </th>
            <th>
                預設值
            </th>
            <th>
                備註
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
