<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <!--mail 設定-->
    <add key="serviceAccount" value="服務帳號" />
    <add key="servicePassword" value="服務密碼" />
    <add key="toList" value="信箱1;信箱2;信箱3" />
  </appSettings>
</configuration>