@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div>
    <label style="width:5%">連接字串:</label>
    <input style="width:50%" id="connection" type="text" name="DBConnection" />
    <input type="button" value="查詢" onclick="getdb()" />
    <input type="button" value="Dapper" onclick="getdbByDapper()" />
    <input type="button" value="Reflection" onclick="getdbByReflection()" />
</div>
<div id="subscribe" style="display:none">
    <label style="width:5%">Email:</label>
    <input style="width:50%" id="connection" type="text" name="DBConnection" />
    <input type="button" value="訂閱" onclick="subscribe()" />
</div>
<div id="database"></div>


<script>

    //以連接字串呼叫DBdata後傳回該DB的內容插入頁面
    function getdb() {
        $.ajax({
            url: `/Home/DBdata/?DBConnection=${$("#connection").val()}`,
            success: function (data) {
                if (data === "error") {
                    $("#database").html("");
                    $("#subscribe").css("display", "none");
                    return window.alert("連結錯誤");
                }
                $("#subscribe").css("display", "");
                $("#database").html(data);
            }
        })
    }

    function getdbByDapper() {
        $.ajax({
            url: `/Dapper/DBdata/?DBConnection=${$("#connection").val()}`,
            success: function (data) {
                if (data === "error")
                {
                    $("#database").html("");
                    $("#subscribe").css("display", "none");
                    return window.alert("連結錯誤");
                }
                $("#subscribe").css("display", "");
                $("#database").html(data);
            
            }
        })
    } function getdbByReflection() {
        $.ajax({
            url: `/Reflection/DBdata/?DBConnection=${$("#connection").val()}`,
            success: function (data) {
                if (data === "error") {
                    $("#database").html("");
                    $("#subscribe").css("display", "none");
                    return window.alert("連結錯誤");
                }
                $("#subscribe").css("display", "");
                $("#database").html(data);

            }
        })
    }

    //特殊字元轉碼，避免input特殊字元導致錯誤
    function escapeHtml(unsafe) {
        return unsafe
            .replace(/&/g, "&amp;")
            .replace(/</g, "&lt;")
            .replace(/>/g, "&gt;")
            .replace(/"/g, "&quot;")
            .replace(/'/g, "&#039;");
    }
</script>